ion-header {
  ion-toolbar {
    --background: none;
    position: absolute;
    background-color: rgb(134 144 154 / 15%);
    backdrop-filter: blur(4px);
    color: #ffffff;
  }
}

ion-content {
  --background: none;
  background-image: url('https://godotengine.org/assets/showcase/until-then-2.webp');
  background-color: rgb(51, 63, 103, 0.4);
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-size: cover;

  .app-wrapper {
    display: flex;
    justify-content: center;
    padding: 200px 20px 120px;

    .app-container {
      text-align: center;
      padding: 0 1em;
      max-width: 670px;
      width: 100%;
      color: white;

      h1 {
        font-size: 48px;
        margin-bottom: 1em;
        text-shadow: 0 0 28px #00000080;
      }

      p {
        font-size: 20px;
        text-shadow: 0 0 28px #00000080;
      }
    }
  }
}