ion-header {
  ion-toolbar {
    position: absolute;
    --background: none;
    background: rgb(134 144 154 / 15%);
    backdrop-filter: blur(4px);
    color: #ffffff;
  }
}
ion-content {
  --background: none;
  background-image: url('https://godotengine.org/assets/showcase/until-then-2.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.75);

  .app-wrapper {
    display: flex;
    justify-content: center;
    padding: 200px 20px 120px;

    .app-container {
      text-align: center;
      padding: 0 1em;
      max-width: 670px;
      width: 100%;

      h2 {
        font-size: 48px;
        margin-bottom: 1em;
        text-shadow: 0 0 28px #00000080;
        color: #ffffff;
        font-weight: 800;
      }

      p {
        font-size: 20px;
        line-height: 1.5;
        text-shadow: 0 0 28px #00000080;
        color: #ffffff;
      }
    }
  }
}