<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Learn <ion-text color="primary">CSS</ion-text></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngFor="let i of [1, 2, 3]" class="app-wrapper">
    <div class="app-container">
      <h2>Using the Developer Tools to Learn CSS</h2>
      <p>
        Bring a cool css effect to your app, by studying the
        html structure/css from another web page or application.
      </p>
    </div>
  </div>
</ion-content>