<ion-header>
  <ion-toolbar>
    <ion-title>
      Developer
      <ion-text color="secondary">Tools</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h2>Use cases</h2>

  <div class="app-use-cases">
    <div *ngFor="let useCase of useCases" class="app-use-case">
      <ion-button [routerLink]="['/', useCase.path]" [disabled]="useCase.disabled">
        <ion-icon [name]="useCase.icon"></ion-icon>
      </ion-button>
      {{ useCase.title }}
    </div>
    <div *ngFor="let i of [0, 1, 2, 3, 4, 5]" class="app-use-case"></div>
  </div>
</ion-content>
